.pillars-carousel {
   
    margin: 50px auto 0 auto;
    padding: 2rem 0rem;
    padding-right: 0;
    text-align: start;
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    

    .how-it-works {
            justify-content: start;
            color: #707070;
            font-size: 1rem;
            margin-left: 4rem;
            font-weight: 500;
        }

    /* Heading with Navigation Arrows */
    .heading-with-arrows {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 1.5rem;
        margin-left: 4rem;

        h2 {
            font-size: 1.5rem;
            .nothighlight {
                    color: #707070;
                    font-size: 28px;
                    font-weight: 400;
                }

            .highlight {
background: linear-gradient(to right, #d96e7c, #f1ca72);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
                font-weight: 600;
                font-size: 28px;
                font-style: italic;
            }

            
        }

        .nav-arrow {
            background-color: white;
            border: 1px solid #C6C6C6;
            color: #747474;
            font-size: 1rem;
            width: 40px;
            height: 36px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .navigation{
            display: flex;
            justify-content: center;
            gap: 1rem;
            margin-bottom: 2rem;
            margin-right: 7rem;
        }
    }

    .buttons {
        display: flex;
        justify-content: start;
        gap: 1rem;
        margin-bottom: 2rem;
        margin-left: 4rem;

        .pill-button {
            padding: 0.5rem 1.5rem;
            border: 1px solid #C6C6C6;
            border-radius: 20px;
            background-color: white;
            color:#707070;
            cursor: pointer;
            font-size: 0.9rem;
            transition: background-color 0.3s;

            &:hover, &.active {
                background-color: #000000;
                color: white;
            }

        }
    }

    .carousel-wrapper {
        display: flex;
        align-items: center;
        position: relative;

        .carousel {
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-snap-align: start;
            scrollbar-width: none; // Firefox
            -ms-overflow-style: none; // IE

            &::-webkit-scrollbar {
                display: none; // Chrome, Safari
            }

            .card {
                flex: 0 0 33%; 
                margin: 0 0.8rem;
                background-color: white;
                border-radius: 10px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                margin-bottom: 10px;
                margin-top: 1px;
                text-align: left;
                position: relative;

                &:first-child {
                        margin-left: 4rem;
                    }

                &:last-child {
                    margin-right: 4rem;}

                .image-wrapper {
                        position: relative;
                img {
                    width: 100%;
                    border-radius: 10px 10px 0px 0px;
                    margin-bottom: 1rem;
                    object-fit: cover; 
                }
                    .metric {
                        position: absolute;
                        bottom: 2rem;
                        left: 1rem;
                        background-color: white;
                        opacity: 87%;
                        color: #333;
                        font-size: 1rem;
                        font-weight: 500;
                        padding: 0.3rem 0.8rem;
                        border-radius: 20px;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                        white-space: nowrap;
                        display: flex;
                        align-items:center;
                        gap: 0.4rem;
                        img {
                            height: 20px;
                            margin: auto;   
                            border-radius: 0;
                            
                        }
                        span{
                            color: #919191;
                            font-size: 14px;
                        }
                    }

            }


                h3 {
                    font-size: 1.25rem;
                    margin-bottom: 0.5rem;
                    padding-left: 1.5rem;
                }

                p {
                    font-size: 1rem;
                    color: #6e6e6e;
                    padding:0rem 2rem 1.5rem 1.5rem;
                }
            }
        }
    }

    /* Responsive Styles */
    @media (max-width: 976px) {
        .heading-with-arrows {
            margin-left: 0;
            justify-content: center;
            .navigation {
                display: none; 
            }
            h2{
             display: flex;
             align-items: baseline;
                .highlight {
                    font-size: 20px;
                }

                .nothighlight {
                    font-size: 16px;
                }   
            }
        }

                        .how-it-works {
                            display: flex;
                            justify-content: center;
                            color: #707070;
                            font-size: 1rem;
                            margin-left: 0;
                            font-weight: 500;
                        }

        .buttons {
            display: none; 
        }

        .carousel-wrapper .carousel .card {
            flex: 0 0 80%;

            &:first-child {
                margin-left: 1rem;
            }
            &:last-child {
                margin-right: 1rem;
            }
        }

               
    }

        @media (max-width: 450px) and (min-height: 800px) {
            .carousel-wrapper {
                margin-bottom:45vw;
            }
        }
}
